@use "functions";
@use "variables";

html {
  box-sizing: border-box;
  font-family: variables.$font-family-base;
  line-height: variables.$line-height-base;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: functions.size(3);
  background-color: variables.$background-color;
  color: variables.$foreground-color;
  font-family: variables.$font-family-base;
  font-size: variables.$font-size-base;
  font-weight: variables.$font-weight-normal;
  line-height: variables.$line-height-base;
}

pre {
  margin: 0;
  margin-bottom: functions.size(3);
  font-family: variables.$font-family-mono;
  font-size: 0.85rem;
  // Prevent pre content from overflowing parent if it's a flex item
  overflow-x: auto;
  min-width: -webkit-fill-available;
  min-width: -moz-available;
  min-width: stretch;
  max-width: 0;
}

code {
  font-family: variables.$font-family-mono;
  font-size: 0.85rem;

  // Code elements without a pre parent
  &:not(pre code) {
    padding: 1px 3px;
    background-color: rgba(variables.$foreground-color, 0.8);
    border-radius: variables.$border-radius;
  }
}
