// Colors

$background-color: #fff;
$foreground-color: #003359;

$primary-color: #0085fd;
$secondary-color: #818181;

$info-color: #0085fd;
$success-color: #2e7d32;
$warning-color: #ed8f02;
$error-color: #d32f2f;

$link-color: #0085fd;

// Fonts

$font-family-base: Helvetica, Arial, sans-serif;
$font-family-mono: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

$font-size-base: 18px;
$font-weight-normal: 400;
$line-height-base: 1.4;

// Other styles

$border-radius: 4px;

// Size

// See: _functions.scss -> @function size
$size-unit: 8px;

// Components

// https://xyproto.github.io/splash/docs/github-dark.html
$highlight-background-color: #0d1117;
$highlight-foreground-color: #fff;
