/*
@markup
<a class="icon-button">
  <svg class="icon">
    ...
  </svg>
</a>
*/

.icon-button {
  display: inline-block;
  padding: size(1);
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.2s ease;

  &:hover,
  &:active {
    background-color: rgba($primary-color, 0.08);
  }
  .icon {
    display: block;
  }

  // @options

  &.icon-button--primary {
    background-color: $primary-color;

    &:hover,
    &:active {
      background-color: shade-color($primary-color, 20%);
    }
    .icon {
      path {
        fill: $background-color;
      }
    }
  }
}
