@use "../functions";
@use "../variables";

/*
@markup
<img class="icon icon--primary icon--sm">
or
<svg class="icon icon--primary icon--sm">
*/

.icon {
  display: inline-block;
  vertical-align: middle;
  width: functions.size(3);
  height: functions.size(3);

  // @options
  
  &.icon--current {
    path {
      fill: currentColor;
    }
  }
  &.icon--primary {
    path {
      fill: variables.$primary-color;
    }
  }
  &.icon--secondary {
    path {
      fill: variables.$secondary-color;
    }
  }
  &.icon--info {
    path {
      fill: variables.$info-color;
    }
  }
  &.icon--success {
    path {
      fill: variables.$success-color;
    }
  }
  &.icon--warning {
    path {
      fill: variables.$warning-color;
    }
  }
  &.icon--error {
    path {
      fill: variables.$error-color;
    }
  }
  &.icon--xxl {
    width: functions.size(8);
    height: functions.size(8);
  }
  &.icon--xl {
    width: functions.size(6);
    height: functions.size(6);
  }
  &.icon--lg {
    width: functions.size(4);
    height: functions.size(4);
  }
  &.icon--md {
    width: functions.size(3);
    height: functions.size(3);
  }
  &.icon--sm {
    width: functions.size(2.5);
    height: functions.size(2.5);
  }
  &.icon--xs {
    width: functions.size(2.25);
    height: functions.size(2.25);
  }
}
